<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100px">

    <% if (user.id == profile_user.id) {%>
        <!--  if user matches than show thoi form -->
        Want to Update your info?

    <form action="/users/update/<%=profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Youe email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar"  placeholder="Profile Picture" id="">
        <input type="submit" value="Update">
    </form>
        <%} else {%> 
    <p><%= profile_user.name%></p>
    <p><%= profile_user.email%></p>
    <p>
        <a href="/friends/toggle/?id=<%=profile_user._id%>" class="toggle-friendship-button" data-value="Add friend" >
            <% if (isFriend) { %>
                Remove friend
            <%}else {%>
                Add Friend
            <%}%>
        </a>
    </p>
    <%}%>


    <script src="/js/toggle_friendship.js"></script>
    <script>
        $('.toggle-friendship-button').each( function(){
            let self = this;
            console.log(self);
            let friendship = new Friends(self);
        });
    </script>

    
   